/* внешние границы таблицы чёрного цвета толщиной 2px */
table {
    border: 2px solid black;
    text-align: center;
    width: 600px;
}
/* границы ячеек ряда заголовка таблицы */
th {border: 2px solid black;}
/* границы ячеек тела таблицы */
td {border: 1px solid black;}
/* убираем расстояние между ячейками */
table {border-collapse: collapse;}